<h1>FAQ</h1>
<h3>How Often Should I pray?</h3>
<p>As often as you feel you need to. Some good times to make sure you pray is when you wake up,
    before each meal, and before you go to sleep.</p>

<h3>What's a Good Biblical Example?</h3>
<p>There are a lot of good biblical examples but King David is a good one. King David prayed a
    minimum of 3 times a day as shown in Psalm 55:17. Psalm 119:62 King David woke up at midnight to
    give God thanks and Psalm 119:147 he woke before dawn to cry for help putting his hope in God's
    word.</p>

<h3>What Should I Pray for in the Morning?</h3>
<p>This is a good time to pray for God's help for both you and others to get you through the day.
    It's also a good time to journal your prayer request. Keep in mind the enemy doesn't sleep and
    life is about to hit you head on so this isn't play time, get on your knees and pray that God
    prepares you for the day. It's also a good time to reflect on how God has answered prayers and
    give thanks for these.</p>

<h3>Is it Alright to Pray for Myself?</h3>
<p>Yes. In fact it is encouraged. We should pray for our own forgiveness when we sin and it's
    alright to pray for healing. You probably shouldn't pray to be rich but praying for yourself is
    an acknowledgement that you need God's help to get through life. Even Jesus prayed for himself,
    Luke 22:42 is a good example of this.</p>

<h3>When Should I Pray for Forgiveness?</h3>
<p>Immediately after you realize you have sinned. Don't wait on this, God demands holiness and you
    aren't holy with sin in your heart.</p>
